<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.corsalite.tabletapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.corsalite.tabletapp.app.CorsaliteApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="DATABASE"
            android:value="corsalite_db.db" />
        <meta-data
            android:name="VERSION"
            android:value="3" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.corsalite.tabletapp.models.db" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="94f6d0edefb49d0f21836a7acf733f25afe4cc72" />
        <meta-data
            android:name="LOCALYTICS_APP_KEY"
            android:value="f34e80c23ff3d6eb90eedbb-e3eaf25c-a34c-11e5-a67e-003e57fecdee" />

        <service android:name="com.corsalite.tabletapp.services.ContentDownloadService" />
        <service android:name="com.corsalite.tabletapp.services.TestDownloadService" />

        <receiver
            android:name="com.localytics.android.ReferralReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.corsalite.tabletapp.receivers.NetworkChangeBroadcastReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.corsalite.tabletapp.activities.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.corsalite.tabletapp.activities.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize" />
        <activity
            android:name="com.corsalite.tabletapp.activities.UserProfileActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.WebviewActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:label="@string/title_activity_webview"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.ContentReadingActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:label=""
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.VideoActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:hardwareAccelerated="true"
            android:label=""
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.VirtualCurrencyActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:label="@string/title_activity_currency"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.StudyCenterActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:label="Study Center"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.PostDetailsActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:label="Comments"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.AnalyticsActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:label="Analytics"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.NewAnalyticsActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:label="Analytics"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.OfflineActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:label="Offline Content"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.NotesActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:label="Notes"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.ExamHistoryActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:label="ExamHistory"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.corsalite.tabletapp.activities.ExamEngineActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:hardwareAccelerated="true"
            android:label=""
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.UsageAnalysisActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:hardwareAccelerated="true"
            android:label="Usage Analysis"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.SaveForOfflineActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:label="Notes"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.ChallengeActivity"
            android:label="@string/title_activity_challenge"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.corsalite.tabletapp.activities.ChallengeResultActivity"
            android:label="@string/title_activity_challenge"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.corsalite.tabletapp.activities.ExamResultActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.TestStartActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.ForumActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.EditorActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:theme="@style/UserProfileTheme" />
        <activity
            android:name="com.corsalite.tabletapp.activities.StartMockTestActivity"
            android:configChanges="keyboard|keyboardHidden|layoutDirection|orientation|uiMode|screenLayout|screenSize"
            android:theme="@style/AppTheme" />
        <activity android:name="com.corsalite.tabletapp.activities.WelcomeActivity" />
        <activity
            android:name="com.corsalite.tabletapp.activities.CrashHandlerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_crash_handler"
            android:theme="@style/FullscreenTheme" />
        <activity android:name="com.corsalite.tabletapp.activities.InviteFriendsActivity"></activity>
    </application>

</manifest>